.header {

    background-color: rgb(33, 99, 129);
    padding: 2rem 2rem;
}

.header_container{
 
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header_logo a {

    color: azure;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.header_nav a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.3rem;
}

.header_nav a:hover {
    color: rgb(12, 226, 58);
  
}